<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8" />
    <title>El título de mi página</title>
  </head>
  <body>
	  <header>
		  <table border="1px">
		  <thead>
			  <tr>
				  <th>Name</th>
				  <th>View</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr th:each="c : ${clientes}">
				  <td>Rodrigo</td>
				  <td><span th:text="${c.patente}"></span></td>
			  </tr>
		  </tbody>
		  </table>
		  <form th:action="@{/clientes/create}" th:object="${cliente}" method="post">
			<p>Nombre: <input type="text" th:field="${cliente.nombre}" /></p>
			<p>Patente: <input type="text" th:field="${cliente.patente}" /></p>
			<input type="submit" value="crear"/>
		  </form>
		          <div class="formgrupo" id="grupopropietario">
                    <label for="propietario" class="formlabel">Elegir Propietario: </label>
                    <div class="formgrupo-input">
                        <select  th:field="${agenda.cliente.idCliente}" class="custom-select">

                            <option value=-1 selected="selected" disabled >--Seleccionar Conductor--</option>
                            <option th:each="cliente : ${clienteList}" th:value="${cliente.idCliente}" th:text="${cliente.nombre}"></option>

                        </select>
                    </div>
                </div>
	  </header>
  </body>
</html>
